h1 {
    padding:30px;
}
.mastermind {
    font-family: 'Bangers', cursive;
    color: red;
}

.colordisp {
    display: flex;
    justify-content: center;
    /* padding-bottom: 20px; */
}
.guess {
    margin:20px;
    color: white;
}

.resultM {
    color: red;
    margin-top: 50px;
}

.resultB {
    color: red;
}