h1 {
    padding:30px;
}
.mastermind {
    font-family: 'Bangers', cursive;
    color: red;
}

.colordisp {
    display: flex;
    justify-content: center;
}
.guess {
    margin:20px;
    color: white;
}