

.But {
    margin: 20px 5px 40px 5px ;
    font-family: 'Bangers', cursive;
}

.card {
    min-height: 200px;
}


.mastermind {
    font-family: 'Bangers', cursive;
}

.title {
    color: white;
    padding: 30px;
    /* margin: 30px; */
}

h4 {
    color:yellow;
    padding-bottom: 40px;
}

.cardTitle {
    color: red;
    font-size: 30px !important;
}


.rules {
color:white;
padding-top:40px;
}
